<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta http-equiv="refresh" content="0"> -->
	<title>Changing Language</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div id="container">
        <p id="lang" ></p>

    </div>
</body>
<script>
    // detects clicks on left and right of screen to switch between languages
    const printMousePos = (event) => {
        document.getElementById('lang').innerHTML = "clientX: " + event.clientX + " - clientY: " + event.clientY
        console.log(event.clientX)
        console.log(event.clientY)
    }
    const printScrollDir = (evt) => {
        console.log('scroll')
        if (!evt) evt = event;
        const scrollDir = (evt.detail<0) ? 1 : (evt.wheelDelta>0) ? 1 : -1;
        document.getElementById('lang').innerHTML = scrollDir
    };

    const printPress = (event) => {
        console.log(event)
        document.getElementById('lang').innerHTML = event.key
    }
    document.addEventListener('click', printMousePos);
    document.addEventListener('mousewheel', printScrollDir);
    document.addEventListener('scroll', printScrollDir);
    document.addEventListener('keydown', printPress)
</script>
</html>